<footer class="footer footer_2" style="height: 400px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <aside class="widget about_widgets">
                    <img src="../../static/userResources/images/logo.png" alt=""
                         style="height: 30px;width: 180px">
                    <a href="tel:8690014014"><p style="color: #8180e0;">8690014014</p></a>
                    <a href="tel:7600064616"><p style="color: #8180e0;">7600064616</p></a>
                    <a href="mailto:p2ploans2020@gmail.com"><p style="color: #8180e0;">p2ploans2020@gmail.com</p></a>
                </aside>
            </div>
            <div class="col-lg-4 col-md-6">
                <aside class="widget links">
                    <h4 style="height: 5px">Company</h4>
                    <ul>
                        <li><a href="/lender/viewAboutUs">About Us</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-4 col-md-6">
                <aside class="widget links">
                    <h4 style="height: 5px">Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </aside>
            </div>

        </div>
    </div>
</footer>