<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>View Loan Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="../../static/adminResources/images/favicon.ico">

    <link href="../../static/adminResources/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../static/adminResources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/adminResources/css/style.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/adminResources/js/modernizr.min.js"></script>

</head>


<body>

<div id="wrapper">

    {% include 'admin/header.html' %}

    {% include 'admin/menu.html' %}


    <div class="content-page">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title float-left">Manage Loan Application</h4>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">


                            <table id="datatable" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Lender UserName</th>
                                    <th>Borrower UserName</th>
                                    <th>Amount</th>
                                    <th>Rate (%)</th>
                                    <th>EMI</th>
                                    <th>Duration (Month)</th>
                                    <th>date</th>
                                    <th>Time</th>
                                    <th>Application Status</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for i in loanApplicationVOList %}
                                    {% for j in loginVOList %}
                                        {% if i[0]['applicationTo_LoginId']==j['loginId'] %}
                                            <tr>
                                                <td>{{ j['loginUserName'] }}</td>
                                                <td>{{ i[2]['loginUserName'] }}</td>
                                                <td>{{ i[1]['loanAmount'] }}</td>
                                                <td>{{ i[1]['loanRate'] }}</td>
                                                <td>{{ i[1]['loanEMI'] }}</td>
                                                <td>{{ i[1]['loanDuration'] }}</td>
                                                <td>{{ i[0]['applicationApprovalDate'] }}</td>
                                                <td>{{ i[0]['applicationApprovalTime'] }}</td>
                                                <td>{{ i[0]['applicationStatus'] }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        {#        {% include 'admin/footer.html' %}#}
    </div>


</div>


<script src="../../static/adminResources/js/jquery.min.js"></script>
<script src="../../static/adminResources/js/popper.min.js"></script>
<script src="../../static/adminResources/js/bootstrap.min.js"></script>
<script src="../../static/adminResources/js/metisMenu.min.js"></script>
<script src="../../static/adminResources/js/waves.js"></script>
<script src="../../static/adminResources/js/jquery.slimscroll.js"></script>


<script src="../../static/adminResources/js/jquery.dataTables.min.js"></script>
<script src="../../static/adminResources/js/dataTables.bootstrap4.min.js"></script>
<script src="../../static/adminResources/js/dataTables.buttons.min.js"></script>
<script src="../../static/adminResources/js/buttons.bootstrap4.min.js"></script>
<script src="../../static/adminResources/js/jszip.min.js"></script>
<script src="../../static/adminResources/js/pdfmake.min.js"></script>
<script src="../../static/adminResources/js/vfs_fonts.js"></script>
<script src="../../static/adminResources/js/buttons.html5.min.js"></script>
<script src="../../static/adminResources/js/buttons.print.min.js"></script>
<script src="../../static/adminResources/js/buttons.colVis.min.js"></script>
<script src="../../static/adminResources/js/dataTables.responsive.min.js"></script>
<script src="../../static/adminResources/js/responsive.bootstrap4.min.js"></script>

<script src="../../static/adminResources/js/jquery.core.js"></script>
<script src="../../static/adminResources/js/jquery.app.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });

</script>

</body>
</html>